includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    # Rule level 5 is pretty strict
    level: 5


    excludePaths:
        - ./*/*/FileToIgnore.php


